@page
@model FindRecipeModel
@{
    ViewData["Title"] = "Find Recipe";
}
<style>
    h1{text-align: center;}
    p{text-align: center;}
    .center {
        margin-left: auto;
        margin-right: auto;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
</style>
<head>
    <h1>@ViewData["Title"]</h1>
    <p>Select Filters to Match What You Want To Eat</p>
    <div class="text-center">
        <div id="Filters" class="form-group">
        <label for="DietTyype">Choose a Diet Type:</label>
        <select name="DietType" id="DietType">
          <option value="No preference">No preference</option>
          <option value="Vegetarian">Vegetarian</option>
          <option value="Vegan">Vegan</option>
        </select>

        <label for="Prices">Prices:</label>
        <select name="Prices" id="Prices">
            <option value="N/A">N/A</option>
            <option value="$">$</option>
            <option value="$$">$$</option>
            <option value="$$$">$$$</option>
        </select>

        <label for="MealType">Meal Type:</label>
        <select name="MealType" id="MealTyoe">
            <option value="N/A">N/A</option>
            <option value="Breakfast">Breakfast</option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
            <option value="Dessert">Dessert</option>
        </select>

        <button class="btn btn-dark">Search</button>
    </div>
    </div>
</head>
<body>
    <div id="ResultsTable" class="text-center">
        <table id="RecipeTitleTable" class="center">
            <thead>
                <tr>
                    <th>Recipes:</th>
                </tr>
            </thead>
            <tbody>
                <tr> 
                   <td>
                       <form name="f2">
                        <input id="Recipe1" type="submit" name="Recipe1" value="American Breakfast" />
                       </form>
                   </td>
                </tr>
                <tr>
                    <td>
                        <a class="parent" value="Brownies">Brownies</a>
                    </td>
                </tr>
                <tr>
                    <td>Chicken Alfredo</td>
                </tr>
                <tr>
                    <td>Cauliflower Food</td>
                </tr>

            </tbody>
        </table>
    </div>
    <div id="Table2">
        <form action="FindRecipe.php" method="post">
            <table>
                <thead>
                <tr>
                    <th>Recipes:</th>
                </tr>
            </thead>
            <tbody>
                <?php 
                $mysqli = new mysqli("mysql.eecs.ku.edu","c952d843","dummypass","c952d843");

                if($mysqli->connect_errno){
                     echo "<p>Connection Failed</p>";
                     exit();
                }

                $query = "SELECT SHIPNAME FROM SHIP";



                if ($result = $mysqli->query($query)) {
                 /* fetch associative array */
                     while ($row = $result->fetch_assoc()) {
                        echo "<tr> <td>.$row["SHIPNAME"].</td> </tr>";
                     }
                 /* free result set */
                 $result->free();
                
                ?>
            </tbody>
            </table>
        </form>
    </div>

</body>
